absl-py==0.7.0
appnope==0.1.0
astor==0.7.1
backcall==0.1.0
bleach==3.1.0
cloudpickle==0.8.0
cycler==0.10.0
dask==1.1.1
decorator==4.3.2
defusedxml==0.5.0
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
numpy==1.16.1
music21==5.7.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.9
